<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.campuspinduoduo">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusPinduoduo">

        <!-- Main Activity -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Product Details Activity -->
        <activity
            android:name=".ui.activities.ProductDetailActivity"
            android:exported="false" />

        <!-- Cart Activity -->
        <activity
            android:name=".ui.activities.CartActivity"
            android:exported="false" />

        <!-- Checkout Activity -->
        <activity
            android:name=".ui.activities.CheckoutActivity"
            android:exported="false" />

        <!-- Order Tracking Activity -->
        <activity
            android:name=".ui.activities.OrderTrackingActivity"
            android:exported="false" />

        <!-- Profile Activity -->
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:exported="false" />

    </application>

</manifest>
